# Dataset
data/external/

# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Model Files
*.pkl
*.joblib
!data/models/
!data/models/*.pkl
!data/models/*.joblib
!data/models/*.json

# Environment Variables
.env